.nav {
  --_nav-a_c: var(--nav-a_c, var(--body-c));
  --_nav-a_c-a: var(--nav-a_c-a, var(--link-c_h));
  --_nav-a_pb: var(--nav-a_pb, var(--btn-py));
  --_nav-a_pi: var(--nav-a_pi, var(--s1));

  padding: 0;
  list-style: none;
  margin: 0;

  display: var(--nav_display, flex);
  flex-wrap: var(--nav_wrap, wrap);
  gap: var(--nav_gap, var(--s2));

  a {
    --link-c: var(--_nav-a_c);
    --link-decoration: var(--nav-link--decoration, none);
    --link-c_h: var(--_nav-a_c-a);
    --link-c_a: var(--_nav-a_c-a);

    transition: var(--t-base);
    padding-block: var(--_nav-a_pb);
    padding-inline: var(--_nav-a_pi);

    &.active {
      --link-c: var(--_nav-a_c-a);
    }
  }
}
