---
import Features from '~/components/widgets/Features.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Resources for nonprofit websites',
};
---

<Layout metadata={metadata}>
  <!-- Features Widget *************** -->

  <Features
    id='features'
    tagline='Features'
    title='What you get with AstroWind'
    subtitle='One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024.'
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          "1 <a href='https://preview.themeforest.net/item/cherito-non-profit-charity-html-template/full_screen_preview/55881607?_ga=2.169317348.495647479.1736451434-286414632.1655731538&_gac=1.250790516.1736451434.CjwKCAiAhP67BhAVEiwA2E_9g5gZ60_xf9dIJF1Isyg-7FHG8Cyi7xgKobWiZN44qmR2HnQcg0JwvRoCxagQAvD_BwE'>Cherito</a>",
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />
  <div><a href='https://html.themeholy.com/donat/demo/home-2.html'>Donat</a></div>
  <div>
    <a
      href='https://preview.themeforest.net/item/cherito-non-profit-charity-html-template/full_screen_preview/55881607?_ga=2.169317348.495647479.1736451434-286414632.1655731538&_gac=1.250790516.1736451434.CjwKCAiAhP67BhAVEiwA2E_9g5gZ60_xf9dIJF1Isyg-7FHG8Cyi7xgKobWiZN44qmR2HnQcg0JwvRoCxagQAvD_BwE'
      >Cherito</a
    >
  </div>
  <div><a href='https://pixydrops.com/oxpinshtml/main-html/contact.html'>Oxpins</a></div>
  <div>
    <a
      href='https://preview.themeforest.net/item/chioary-charity-donation-html5-template/full_screen_preview/55506851?_ga=2.94278744.495647479.1736451434-286414632.1655731538&_gac=1.60394847.1736451434.CjwKCAiAhP67BhAVEiwA2E_9g5gZ60_xf9dIJF1Isyg-7FHG8Cyi7xgKobWiZN44qmR2HnQcg0JwvRoCxagQAvD_BwE'
      >Chioary</a
    >
  </div>
</Layout>
