.btn {
  --_btn-py: var(--btn-py, 0.375rem);
  --_btn-px: var(--btn-px, 0.75rem);
  --_btn-c: var(--body-c);
  --_btn-bg: var(--btn-bg, transparent);
  --_btn-bw: var(--btn-bw, var(--bw));
  --_btn-bc: var(--btn-bc, transparent);
  --_btn-br: var(--btn-br, var(--br));
  --btn-tt: 0.15s;

  --btn-c_h: var(--_btn-c);
  --btn-bg_h: color-mix(in oklab, var(--_btn-bg), black 10%);
  --btn-bc_h: color-mix(in oklab, var(--_btn-bc), black 10%);

  --btn-c_a: var(--_btn-c);
  --btn-bg_a: color-mix(in oklab, var(--_btn-bg), black 20%);
  --btn-bc_a: color-mix(in oklab, var(--_btn-bc), black 20%);

  --btn-c_d: var(--_btn-c);
  --btn-bg_d: color-mix(in oklab, var(--_btn-bg), white 20%);
  --btn-bc_d: color-mix(in oklab, var(--_btn-bc), black 20%);
  /* --btn-o_d: 1; */

  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  font-size: var(--btn-fs, var(--fs-base));
  font-family: var(--btn-ff, inherit);
  font-weight: var(--btn-fw, var(--fw-normal));
  line-height: var(--btn-lh, var(--lh));
  padding: var(--_btn-py) var(--_btn-px);
  color: var(--_btn-c);
  background-color: var(--_btn-bg);
  border: var(--_btn-bw) solid var(--_btn-bc);
  border-radius: var(--_btn-br);
  transition: color var(--btn-tt) ease-in-out,
    background-color var(--btn-tt) ease-in-out,
    border-color var(--btn-tt) ease-in-out, box-shadow var(--btn-tt) ease-in-out;

  &:hover {
    color: var(--btn-c_h);
    background-color: var(--btn-bg_h);
    border-color: var(--btn-bc_h);
  }

  &:focus-visible {
    color: var(--btn-c_h);
    background-color: var(--btn-bg_h);
    border-color: var(--btn-bc_h);
    outline: 0;
  }

  &.active {
    color: var(--btn-c_a);
    background-color: var(--btn-bg_a);
    border-color: var(--btn-bc_a);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    color: var(--btn-c_d);
    background-color: var(--btn-bg_d);
    border-color: var(--btn-bc_d);
    /* opacity: var(--btn-o_d); */
  }
}

.btn-primary {
  --_btn-c: #fff;
  --_btn-bg: var(--c-primary);
}

.btn-secondary {
  --_btn-c: #fff;
  --_btn-bg: var(--c-gray);
}

[class*="btn-outline-"] {
  --_btn-bc: var(--_btn-c);
  --btn-c_h: var(--_btn-bg);
  --btn-bg_h: var(--_btn-c);
  --btn-bc_h: var(--_btn-c);
  --btn-bg_a: var(--_btn-bg);
  --btn-bg_d: var(--_btn-bg);
}

.btn-outline-primary {
  --_btn-c: var(--c-primary);
  --_btn-bg: var(--c-white);
}

.btn-outline-secondary {
  --_btn-c: var(--c-secondary);
  --_btn-bg: var(--c-white);
}

.btn-link {
  --btn-fw: 400;
  --_btn-c: var(--link-c);
  --_btn-bg: transparent;
  --btn-c_h: var(--link-c_h);
  --btn-bc_h: transparent;
  --btn-c_a: var(--link-c_h);
  --btn-bc_a: transparent;
  --btn-c_d: var(--c-gray);
  --btn-bc_d: transparent;
  text-decoration: var(--link-decoration);

  &:focus-visible {
    color: var(--_btn-c);
  }

  &:hover {
    text-decoration: var(--link-decoration-hover);
  }
}

.btn-lg {
  --_btn-py: 0.5rem;
  --_btn-px: 1rem;
  --btn-fs: 1.25rem;
  --_btn-br: 0.5rem;
}

.btn-sm {
  --_btn-py: 0.25rem;
  --_btn-px: 0.5rem;
  --btn-fs: 0.875rem;
  --_btn-br: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
