:root {
  --_container_col: var(--container_col, 12);
  --_container-mob_py: var(--container-mob_py, var(--gutter));
  --_container_g: var(--container_g, var(--gutter));
  --_container-mw: calc(100% - var(--_container-mob_py) * 2);

  --_container-calc_mob_py: calc(
    var(--_container-mob_py) - var(--_container_g)
  );
  --container-calc_gap: calc(var(--_container_g) * (var(--_container_col) - 1));

  @media (--sm) {
    --_container-mw: 540px;
  }

  @media (--md) {
    --_container-mw: 720px;
  }

  @media (--lg) {
    --_container-mw: 880px;
  }

  @media (--xl) {
    --_container-mw: 1140px;
  }

  @media (--xxl) {
    --_container-mw: 1320px;
  }
}

.container {
  display: grid;
  gap: var(--_container_g);
  grid-template-columns:
    [full-start]
    minmax(var(--_container-calc_mob_py), 1fr)
    [w-start]
    repeat(
      var(--_container_col),
      calc(
        (var(--_container-mw) - var(--container-calc_gap)) /
          var(--_container_col)
      )
    )
    [w-end]
    minmax(var(--_container-calc_mob_py), 1fr)
    [full-end];

  & > *:not(.container--full) {
    grid-column: w;
  }

  & > .container--full {
    grid-column: full;
  }

  & > .span-wt {
    /* Wrap text */
    grid-column: 4 / -4;
  }
}
