/* Headings */
:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 .h6,) {
  margin-top: 0;
  margin-bottom: var(--h-mb);
  font-family: var(--h-ff);
  font-style: var(--h-fstyle);
  font-weight: var(--h-fw);
  line-height: var(--h-lh);
  color: var(--h-c);
}

:where(h1, .h1) {
  font-size: var(--fs-h1);
}

:where(h2, .h2) {
  font-size: var(--fs-h2);
}

:where(h3, .h3) {
  font-size: var(--fs-h3);
}

:where(h4, .h4) {
  font-size: var(--fs-h4);
}

:where(h5, .h5) {
  font-size: var(--fs-h5);
}

:where(h6, .h6) {
  font-size: var(--fs-h6);
}

.lead {
  font-size: var(--fs-lead);
  font-weight: var(--lead-font-weight, 300);
}

/* Lists */
.list-unstyled,
  .list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    --list-inline-p: .5rem;
    margin-right:var(--list-inline-p);
  }
}

/* Misc */
/* Builds on `abbr` */
.initialism {
  font-size: var(--initialism-font-size, .875em);
  text-transform: uppercase;
}

/* Blockquotesx */
.blockquote {
  --blockquote-margin-y: var(--spacer);
  margin-bottom: var(--blockquote-margin-y);
  font-size: var(--blockquote-font-size, 1.25);

  & > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  --blockquote-footer-font-size: var(--fs-sm);
  --blockquote-footer-color: var(--c-gray)

  margin-top: calc(var(--blockquote-margin-y) * -1);
  margin-bottom: var(--blockquote-margin-y);
  font-size: var(--blockquote-footer-font-size);
  color: var(--blockquote-footer-color);

  &::before {
    content: "\2014\00A0";
  }
}
